.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
  color:white;
}

body { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:block;
}

.panel-default {
opacity: 0.9;
margin-top:120px;


}
.form-group.last { margin-bottom:19px; }

.footer{
font-family: sans-serif;
text-align: center;
color:white;
background-color: #808080;
position: fixed;
height: 100px;
bottom: 0;
width: 100%;
}

.background {
background-color: #e6e6e6;
}
