<template name="maquette">

			      

				    <div class="row ">
				        <div class="col-md-4 col-md-offset-4">
				            <div class="panel panel-default">
				                <div class="panel-heading">
				                    <span class="glyphicon glyphicon-lock"></span> Connexion</div>

				                <div class="panel-body">
				                    <form class="form-horizontal" role="form">
				                    <div class="form-group">
				                        <label for="inputEmail3" class="col-sm-3 control-label">
				                            Email</label>

				                        <div class="col-sm-9">
				                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" required>
				                        </div>
				                    </div>

				                    <div class="form-group">
				                        <label for="inputPassword3" class="col-sm-3 control-label">
				                            Mot de passe</label>
				                        <div class="col-sm-9">
				                            <input type="password" class="form-control" id="inputPassword3" placeholder="Mot de passe" required>
				                        </div>
				                    </div>

				                    <div class="form-group">
				                        <div class="col-sm-offset-3 col-sm-9">
				                            <div class="checkbox">
				                                <label>
				                                    <input type="checkbox"/>
				                                    Se souvenir de moi
				                                </label>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="form-group last">
				                        <div class="col-sm-offset-3 col-sm-9">
				                            <button type="submit" class="btn btn-success btn-sm">
				                                Valider</button>
				                                 <button type="reset" class="btn btn-default btn-sm">
				                                Annuler</button>
				                        </div>
				                    </div>
				                    </form>
				                </div>
				                <a href="/interaction">gooooo</a>
				                <div class="panel-footer">
				                    S'inscrire? <a href="http://www.test.com">S'inscrire ici</a>
				                </div>
				            </div>
				        </div>
				    </div>
			
		
	</template>

<template name="home">
	<div class="row">
	<h1>404</h1> 
</div>
</template>